$colors : (
  green: #16a085,
  grey: #5A6576,
  other-grey: #E7ECEE,
  blue: #058CC5,
  red: #d2527f,
  light-blue: #3498DB,
  white: #fff,
  black: #000,
);
@each $color_name,$color in $colors{
  .#{$color-name}{
    background-color: $color;
  }
  .#{$color-name}-text{
    color: $color;
  }
}
/* CLASES A - Z*/
.absolute{
  position: absolute;
}
.big{
  font-size: 3em;
}
.bigger{
  font-size: 4em;
}
.big-padding{
  padding: 2em;
}
.bottom-space{
  margin-bottom: 2em;
}
.bold{
  font-weight: bold;
}
.center-block{
  margin: 0 auto;
}
.in-top{
  vertical-align: top !important;
}
.inline-block{
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.margin-top-small{
  margin-top: 0.5em;
}

.medium{
  font-size: 1.5em;
}
.no-float{
  float: none !important;
}
.no-list{
  list-style-type: none;
  text-decoration: none;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.normal{
  font-size: 1.2em;
}
.payment-btn{
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 1em 2em;
  outline: none;
}
.paypal-btn{
  background-color: #FE1935;

}
.right-space{
  margin-right: 1em;
}
.small{
  font-size: 12px;
}
.top-space{
  margin-top: 1em;
}
.tall-padding{
  padding: 10px 5px;
}
.ultra-big{
  font-size: 7em;
}
